@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:wght@300&display=swap');
body{
  margin:0;
  font-family: 'Nunito Sans', sans-serif;
}

h1{  
  font-family: 'Courgette', cursive;
}

.layout-container{
  max-width: 970px;
  margin:0 auto;
  min-height:calc(100vh - 70px);
}

.heading h1{
  padding:2em;
} 

footer{  
  height:200px;
  color:white;
  background-color: #757575;
  margin-top:2em;
  padding:1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer p{
  margin:.5em;
}

